*{margin: 0;padding: 0;}
html{ font-size: 62.5%; touch-action: manipulation;}
body{ font-size: 1.8rem; font-family: 'Phenome',"M PLUS Rounded 1c", sans-serif; max-height: 100%;}
ul,ol{ list-style: none;}
a{ text-decoration: none; color: #6d6db6;}
a:hover{ outline:none; }
label{ display: block;}
input{ display: none;}

